*{
    margin: 0px;
    /* color:white; */
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    background-color: black;
    height:60px;
    display: flex;
    /* justify-content: space-evenly; */
}
#logo{
    height: 40px;
    width: 102px;
    padding: 11px 3px 1px;
    margin: 7px 2px 1px 4px;
    box-sizing: border-box;
}
#box2 {
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}
#loc{
    margin: 0px 1.5px 18px 30px;
}

#box3 {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items:flex-start; /* Align items horizontally */
}
#txt1{
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
    height: 14px;
    font-weight: 300;
    margin: 4px 0% 0px 0px; /* Add margin for spacing */
}
#txt2 {
    font-size: 14px;
    line-height: 35px;
    font-weight: 600;
    color: white;
    margin: 0px 0% 0px 0px; /* Add margin for spacing */
}
/* box4 */
#box4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
    box-sizing: border-box;
    height: 40px;
    width: 900px;
    margin: 10px 20px 5px 20px;
}
#inp:focus{
    outline: none; /* Remove default focus outline */
    border: 2px solid orange; /* Add orange border when input is focused */
}

#sel{
    height: 40px;
    width: 4.5em;
    text-align: center;
    background-color: #E6E6E6;
    border: 0px;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
}
#inp{
    height: 36.9px;
    width: 790px;
    padding: 0px;
    
}
#inp::placeholder{
    font-size: 15px;
    text-indent: 5px;
    
}

#mag-glass{
    margin: 0px;
    height: 40px;
    width: 45px;
    border-top-right-radius: 8%;
    border-bottom-right-radius:8%;
    background-color: #FEBD69;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mag-glass i {
    font-size: 22px; /* Adjust the font size to set the height of the icon */
}
/* box6 */
#box6{
    color: white;
    margin: 10px;
}
#t1{
    font-size: 12px;
    color: #ccc;
}

/* last nav bar */
#cart{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#cart i {
    font-size: 26px;
}
#cart p {
    margin-top: calc(40% - 20px); /* Adjust the margin-top */
}
