*{
    margin: 0px; /* Reset margin for all elements */
    /* color:white; */ /* Commented out, doesn't apply any style */
    font-family: Arial, Helvetica, sans-serif; /* Set default font family for all text */
}

#navbar{
    background-color: black; /* Set background color of navbar to black */
    height:8vh; /* Set height of navbar to 60 pixels */
    width:99vw;
    display: flex; /* Use flexbox layout for navbar */
    justify-content: space-evenly; /* Distribute items evenly along the main axis */
}

#logo{
    height: 40px; /* Set height of logo to 40 pixels */
    width: 102px; /* Set width of logo to 102 pixels */
    padding: 11px 3px 1px; /* Set padding of logo */
    margin: 7px 2px 1px 4px; /* Set margins of logo */
    box-sizing: border-box; /* Include padding and border in total width and height of the element */
}

#box2 {
    display: flex; /* Use flexbox layout for box2 */
    justify-content: center; /* Center content horizontally */
    align-items: end; /* Align items to the end vertically */
    color: white; /* Set text color to white */
}

#loc{
    margin: 0px 0px 18px 30px; /* Set margins of loc */
}

#box3 {
    display: flex; /* Use flexbox layout for box3 */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start horizontally */
}

#txt1{
    font-size: 12px; /* Set font size */
    color: #ccc; /* Set text color to light gray */
    line-height: 30px; /* Set line height */
    height: 14px; /* Set height */
    font-weight: 300; /* Set font weight */
    margin: 4px 0px 0px 0px; /* Set margins */
}

#txt2 {
    font-size: 14px; /* Set font size */
    line-height: 35px; /* Set line height */
    font-weight: 600; /* Set font weight */
    color: white; /* Set text color to white */
    margin: 0px 0% 0px 0px; /* Set margins */
}

/* box4 */
#box4{
    display: flex; /* Use flexbox layout for box4 */
    justify-content: flex-start; /* Align items to the start horizontally */
    align-items: center; /* Align items vertically */
    /* background-color: orange; */ /* Background color commented out */
    box-sizing: border-box; /* Include padding and border in total width and height of the element */
    height: 40px; /* Set height */
    width: 900px; /* Set width */
    margin: 10px 20px 5px 20px; /* Set margins */
}

#inp:focus{
    outline: none; /* Remove default focus outline */
    border: 2px solid orange; /* Add orange border when input is focused */
}

#sel{
    height: 40px; /* Set height */
    width: 4.5em; /* Set width */
    text-align: center; /* Center text horizontally */
    background-color: #E6E6E6; /* Set background color */
    border: 0px; /* Remove border */
    border-top-left-radius: 8%; /* Set border radius */
    border-bottom-left-radius: 8%; /* Set border radius */
}

#inp{
    height: 36.9px; /* Set height */
    width: 790px; /* Set width */
    padding: 0px; /* Remove padding */
}

#inp::placeholder{
    font-size: 15px; /* Set font size */
    text-indent: 5px; /* Indent placeholder text */
}

#mag-glass{
    margin: 0px; /* Set margin */
    height: 40px; /* Set height */
    width: 45px; /* Set width */
    border-top-right-radius: 8%; /* Set border radius */
    border-bottom-right-radius:8%; /* Set border radius */
    background-color: #FEBD69; /* Set background color */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#mag-glass i {
    font-size: 22px; /* Set font size */
    /* Adjust the font size to set the height of the icon */
}

/* box5 */
#box5{
    color: white; /* Set text color to white */
    margin: 10px; /* Set margin */
}

#text1 {
    color: #ccc; /* Set text color to light gray */
    font-size: 12px; /* Set font size */
}

/* box6 */
#box6{
    color: white; /* Set text color to white */
    margin: 10px; /* Set margin */
}

#t1{
    font-size: 12px; /* Set font size */
    color: #ccc; /* Set text color to light gray */
}

/* last nav bar */
#cart{
    color: white; /* Set text color to white */
    display: flex; /* Use flexbox layout */
    justify-content: flex-end; /* Align items to the end horizontally */
    align-items: center; /* Align items vertically */
}

#cart i {
    font-size: 26px; /* Set font size */
}

#cart p {
    margin-top: calc(40% - 20px); /* Adjust the margin-top */
}
#nav2{
    background-color: #232F3E;
    color: white;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#iconmenu{
    font-size: 22px;
    margin: 0px 5px 0px 25px;
}
#nav22{
    margin-right: 20px;
    font-size: 16px;
    
}
#anc a {
    text-decoration: none;
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 7px 4px 7px 4px;
}
.Border:hover{
    border:2px solid white;
}
/* hero */
.hero {
    position: relative; /* Ensure the container has a relative position */
    height: 50vh; /* Set the height of the container to viewport height */
    overflow: hidden; /* Hide any overflow content */
    background-size: cover; /* Ensure the background image covers the entire container */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Define keyframes for scrolling through the images */
@keyframes scrollImages {
    0%, 100% { background-image: url('image.png'); } /* Start and end position, first image */
    33.33% { background-image: url('image2.png'); } /* Transition to second image */
    66.66% { background-image: url('image3.png'); } /* Transition to third image */
}

/* Apply animation to the background image */
.hero {
    animation: scrollImages 25s ease infinite ; /* Apply animation */
}
#msg{
    background-color: white;
    padding: 10px 10px 10px 10px;
    width: 95%;
    margin-top: 140px;
    text-align: center;
}
#msg a {
    text-decoration: none;
    color: #1d8ea5;
}
#display{
    background-color: #eeeeee;
    height:62vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-blend-mode: multiply;
}
.display-box{
    height:420px;
    width:350px;
    background-color: white;
    margin: 30px 10px 30px 10px;   
    
}
.display-box h2 {
    padding: 25px 25px 25px 25px;
}
.display-box img {
    height: 70%;
    width: 90%;    
}
.display-box a {
    text-decoration: none;
    margin: 85px 25px 25px 25px;
    font-size:14px ;
    color: #72B0BC;
}
#pc{
    width:80%;
    margin: 0px 30px 10px 30px;
}
#crocs, #perfume {
    
    margin: 0px 30px 10px 15px;
}
#display2{
    background-color: #eeeeee;
    height:40h;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-blend-mode: multiply;
}
#footer1{
    background-color: #37475a;
    width: 100%;
    height:6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer1 a {
    text-decoration: none;
    color: #f4f7fb;
    font-size: 12px;
}
#footer2{
    background-color: #232f3e;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footbox {
    color: white;
    /* background-color: #d88181; */
    margin-top: 7vh;
}
.footbox p {
    font-size: 16px;
    font-weight: 700;
}
.footbox a {
    display: block;
    font-size: 14px;
    color:#d6d3c8;
    text-decoration: none;
    margin-top: 10px;
}